/*
 * Home page styling
 */

.path-frontpage {
    .banner-wrapper{
        background-image:none!important;
        border:none;
        margin:0;
        height:420px;
    }
    .page-header-wrapper .page-header{
        color:$gd;
        text-align: center;
        font-size: 4.4rem;
        margin: 0 22%;
        @include flex($justify:center,$aligncontent:center,$align:center);
        span{
            width:100%;
        }
    }
    .paragraph.paragraph--type--text {
        padding: 0 120px;
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .paragraph.paragraph--type--z-column{
        font-size: 1.4rem;
    }
}

@media #{$mobile} {
    .path-frontpage {
        .banner-wrapper{
            height:240px;
        }
        .page-header-wrapper .page-header{
            margin:0;
            font-size:2.4rem;
        }
        .paragraph.paragraph--type--text,
        .paragraph.paragraph--type--text p,
        .paragraph.paragraph--type--z-column p {
            padding:0;
            font-size: 1.2rem;
            line-height: 2.2rem;
        }
    }
}