/*
 * Home page styling
 */

.path-frontpage {
    .banner-wrapper{
        background-image:none;
        border:none;
    }
    .page-header-wrapper .page-header{
        color:$gd;
        text-align: center;
    }
}
