.path-product{
    .product{
        .flex{
            @include flex($justify:space-between,$align:flex-start);
            @include max-width();
            padding:40px 0;
            .left,.right{
                width:47%;
            }

            button.slick-arrow{
                background-color: transparent;
                border:none;
                font-size:0;
                    &::before{
                        color:$grn;
                    }
                    &:focus{
                        outline:none;
                    }
            }

            h1{
                color:$grn;
                font-size: 2.2rem;
                margin: 0 0 .25em;
            }

            .product-info{
                @include flex($justify:flex-start,$wrap:nowrap);
                .field--name-field-weight,
                .field--name-field-price,
                .field--name-field-sku{
                    @include flex();    
                    .field__label{
                        color:$grn;
                        &:after{
                            content:": ";
                        }
                    }
                }
            }
            .body {
                padding: 20px 0;
            }
            .coas{
                .field--name-field-coa{
                    .field__label{
                        color:$grn;
                        width:100%;
                        &:after{
                            content:": ";
                        }
                    }
                    .field__items{
                        padding: 10px 0;
                        @include flex($justify:flex-start);
                        .field__item{
                            padding:0 10px;
                        }
                    }
                }
            }
        }
    }
}