.path-product{
    .product{
        .flex{
            @include flex($justify:space-between,$align:flex-start);
            @include max-width();
            padding:40px 0;
            .left,.right{
                width:47%;
                margin:0;
            }

            .slick--field-images {
                margin-top: 105px;
                position: relative;
            }
            .slick img {
                width: 100%;
                height: auto;
            }

            nav.slick__arrow {
                width: 100%;
                display: flex;
                justify-content: space-between;
                position: absolute;
                z-index: 9;
                top: 45%;
            }

            button.slick-arrow{
                background-color: transparent;
                border:none;
                font-size: 0;
                    &:focus{
                        outline:none;
                    }
                    &.slick-prev{
                        content:"";
                        color:$grn;
                        @include ease();
                        &:hover{
                            color:$bgry;
                        }
                        &::before{
                            font-size: 2rem;
                            content:"\f359";
                            font-family: $font-awesome;
                        }
                    }
                    &.slick-next{
                        color:$grn;
                        content:"";
                        @include ease();
                        &:hover{
                            color:$bgry;
                        }
                        &:before{
                            font-size: 2rem;
                            content:"\f35a";
                            font-family: $font-awesome;
                        }
                    }
                }
            h1{
                color:$grn;
                font-size: 2.2rem;
                margin: 0 0 .25em;
            }

            .product-info{
                @include flex($justify:flex-start,$wrap:nowrap);
                .field--name-field-weight,
                .field--name-field-price,
                .field--name-field-sku{
                    @include flex();    
                    .field__label{
                        color:$grn;
                        &:after{
                            content:": ";
                        }
                    }
                }
            }
            .body {
                padding: 20px 0;
            }
            .coas{
                .field--name-field-coa{
                    .field__label{
                        color:$grn;
                        width:100%;
                        &:after{
                            content:": ";
                        }
                    }
                    .field__items{
                        padding: 10px 0;
                        @include flex($justify:flex-start);
                        .field__item{
                            padding:0 10px;

                            .media-library-item__name,
                            .cboxTitle{
                                display:none;
                            }
                            .field--type-image img{
                                border:1px solid $b;
                            }
                        }
                    }
                }
            }
        }
        .product-contact{
            background-color:$gd;
            padding:60px 0;
            margin-bottom: -60px;
            border-top: 10px solid #415b46;
            .flex{
                @include flex($aligncontent:center,$align:center, $justify:space-between);
                h3{
                    color:$bgry;
                    font-size: 1.8rem;
                    width: 100%;
                    text-align: center;
                }
                p{
                    color:$bgry;
                }
                button{
                    margin: 30px auto;
                    border:4px solid $gd;

                    &:hover{
                        border:4px solid $w;
                        color:$w;
                        a{
                            color:$w;
                        }
                    }
                }
                .left{
                    @include flex($justify:center,$wrap:wrap);
                    i.fad.fa-cart-plus {
                        font-size: 6rem;
                        padding: 0 0 40px 0;
                        color:$bgry;
                    }
                    p {
                        text-align: center;
                        padding: 0 60px 40px 60px;
                        font-size: 1.4rem;
                    }
                }
                .right{
                    @include flex($justify:center,$wrap:wrap);
                    div#edit-actions {
                        text-align: center;
                    }
                    input.webform-button--submit {
                        margin: 0 auto;
                        text-align: center;
                        display: inline-block;
                        font-size: 1.4rem;
                        border:4px solid $gd;
                        text-transform:capitalize;
                        &:hover{
                            border:4px solid $w;
                        }
                    }
                }
            }
        }
    }
}