.path-product{
    .product{
        .flex{
            @include flex($justify:space-between,$align:flex-start);
            .left,.right{
                width:50%;
            }

            [type=button], [type=reset], [type=submit], button{
                background-color: transparent;
                border:none;
                .slick-arrow::before{
                    color:$grn;
                }
            }

            h1{
                color:$grn;
            }

            .product-info{
                @include flex($justify:flex-start,$wrap:nowrap);
                .field--name-field-weight,
                .field--name-field-coa,
                .field--name-field-price{
                    @include flex();    
                    .field__label{
                        color:$grn;
                        &:after{
                            content:": ";
                        }
                    }
                }
            }
        }
    }
}