.paragraph.paragraph--type--columns{
    .field--name-field-column-item{
        @include flex($wrap:wrap,$justify:space-between,$align:flex-start);
    }
    .field--name-field-column-count{
        display:none;
    }
    input.button:hover {
        @include ease();
        background-color: $gd;
    }
    &.column-count-two{
        .field__item{
            width:48%;
            margin:0;
            .field__item{
                width:100%;
            }
        }
    }
    &.column-count-three{
        .field__item{
            width:31%;
            margin:0;
            .field__item{
                width:100%;
            }
        }
    }
    &.column-count-four{
        .field__item{
            width:23%;
            margin:0;
            .field__item{
                width:100%;
            }
        }
    }
}