.paragraph.paragraph--type--columns{
    @include flex($wrap:wrap,$justify:space-between);
    &.column-count-two{
        .paragraph--type--column-item{
            width:48%;
            margin:0;
            .field__item{
                width:100%;
            }
        }
    }
    &.column-count-three{
        .paragraph--type--column-item{
            width:31%;
            margin:0;
            .field__item{
                width:100%;
            }
        }
    }
    &.column-count-four{
        .paragraph--type--column-item{
            width:23%;
            margin:0;
            .field__item{
                width:100%;
            }
        }
    }
}