.block-quicktabs-blockproducts{
    h2{
        @include max-width();
        @include flex($justify:center);
        padding:20px 0;
        font-family: $heading-font-family;
        font-size: 2rem;
    }
    .quicktabs-tabs{
        padding: 10px 0 40px 0;
    }
        .item-list{
            @include flex($justify:center);
            li{
                @include ease();
                padding:0 30px;
                a{
                    text-decoration: none;
                    font-weight: 600;
                    font-size:1.3rem;
                }
                &:hover{
                    a{   
                        color:$bgry;
                    }
                }
            }
        }
    

    .views-col{
        padding: 10px;
        max-height:390px;
        @include ease();
        article{
            overflow:hidden;
        }
        .field--name-field-media-image{
         @include ease();
         @include scale();
         max-height: 320px;
        }
        .views-field-title{
            padding:10px 0;
            background:$grn;
            top: -10px;
            position: relative;
            text-align: center;
            a{
                color:$w;
                text-decoration: none;
                font-weight: 600;
            }
        }
        &:hover{
            .field--name-field-media-image{
                @include ease();
                @include scalehvr();
            }
            .views-field-title{
                background:$bgry;
                a{
                    color:$gd;
                }
            }
        }
    }
}
.block-views-blockproducts-featured-products{
    background-color:$lblu;
    padding:60px 0;

    .view-header{
        h2{
        @include max-width();
        @include flex($justify:center);
        padding:20px 0 60px 0;
        font-family: $heading-font-family;
        font-size: 2.4rem;
        color:$bgry;
        text-transform: uppercase
        }
    }
    .views-row{
        @include max-width();
        float:none;
    }
    .views-col{
        @include max-width();
        @include flex($justify:space-between, $wrap:wrap);
        box-shadow: none;
        padding:0;
        article{
            overflow:hidden;
        }
        .field--name-field-media-image{
         @include ease();
         @include scale();
         max-height: 320px;
        }
        .views-field-title{
            padding:10px 0;
            background:$grn;
            top: -10px;
            position: relative;
            text-align: center;
            font-family: $heading-font-family;
            width:100%;
            a{
                color:$w;
                text-decoration: none;
                font-weight: 600;
            }
        }
        &:hover{
            .field--name-field-media-image{
                @include ease();
                @include scalehvr();
            }
            .views-field-title{
                background:$bgry;
                a{
                    color:$gd;
                }
            }
        }
    }
}