.block-quicktabs-blockproducts,
.view-products{
    h2{
        @include max-width();
        @include flex($justify:center);
        padding:20px 0;
        font-family: $heading-font-family;
        font-size: 2rem;
    }
    .quicktabs-tabs{
        padding: 10px 0 40px 0;
    }
        .item-list{
            @include flex($justify:center);
            li{
                @include ease();
                padding:0 30px;
                a{
                    text-decoration: none;
                    font-weight: 600;
                    font-size:1.3rem;
                }
                &:hover{
                    a{   
                        color:$bgry;
                    }
                }
                &.active a{
                    color:$gd;
                }
            }
        }
    
    .views-view-grid{
        @include max-width();
        @include flex($wrap:wrap);
        .views-row{
            float:none;
            clear:none;
        }
        .views-col{
            padding: 10px;
            max-height:390px;
            height:auto!important;
            @include ease();
            article{
                overflow:hidden;
            }
            .field--name-field-media-image{
            @include ease();
            @include scale();
            max-height: 320px;
            }
            .views-field-title{
                padding:10px 0;
                background:$grn;
                top: -10px;
                position: relative;
                text-align: center;
                a{
                    color:$w;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 1.2rem;
                }
            }
            &:hover{
                .field--name-field-media-image{
                    @include ease();
                    @include scalehvr();
                }
                .views-field-title{
                    background:$bgry;
                    a{
                        color:$gd;
                    }
                }
            }
        }
    }
}
.block-views-blockproducts-featured-products,
.block-views-blockfeatured-products-featured-products{
    background-color:$lblu;
    padding:60px 0;
    background-image:url('../images/60-lines.png');
    border-bottom: 10px solid $gd;
    .view-header{
        h2{
        @include max-width();
        @include flex($justify:center);
        padding:20px 0 60px 0;
        font-family: $heading-font-family;
        font-size: 2.4rem;
        color:$bgry;
        text-transform: uppercase
        }
    }
    .views-view-grid .views-row{
        @include max-width();
        @include flex($justify:space-between, $wrap:wrap);
        float:none;
    
        .views-col{
            @include max-width();
            box-shadow: none;
            padding:0;
            // height: 338px;
            width:360px!important;
            box-shadow: none;
            
            &:hover{
                box-shadow: none;
            }
            article{
                overflow:hidden;
            }
            .field--name-field-media-image{
            @include ease();
            @include scale();
            max-height: 320px;
            }
            .views-field-title{
                padding:10px 0;
                background:$bgry;
                position: relative;
                text-align: center;
                // font-family: $heading-font-family;
                width:100%;
                top:-10px;
                a{
                    color:$w;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 1.2rem;
                }
            }
            &:hover{
                .field--name-field-media-image{
                    @include ease();
                    @include scalehvr();
                }
                .views-field-title{
                    background:$gd;
                    a{
                        color:$bgry;
                    }
                }
            }
        }
    }
}


@media #{$mobile} {
    .block-views-blockfeatured-products-featured-products .view-header, 
    .block-views-blockproducts-featured-products .view-header{
        h2{
            text-align: center;
        }
    }
    .block-quicktabs-blockproducts,
    .view-products{ 
        h2{
            text-align: center;
            padding: 20px;
        }
        .quicktabs-tabs{
            @include flex($wrap:wrap);
            li{
                padding:0 0;
            }
        }
        .views-view-grid .views-col{
            width:100%!important;
            width:345px!important;
        }
        .quicktabs_wrapper {
            position:relative;
        }
        a{
            text-decoration:none;
        }
        .select-prepend {
            display:block;
            width:235px;
            height:20px;
            border:1px solid #999;
            padding:5px;
        }
        .quicktabs_tabs {
           position:absolute;
           top:32px;
           background:#f1f1f1;
           width:250px;
            display:none;
        }
        .quicktabs_tabs li {
            padding:5px 10px;
            border-bottom:1px solid #999;
        }
        
        .current { background-color: #f00;}
        
    }
}