.view-testimonials{
    padding:60px 0;
    background-image:url('../images/BannerTestimonails.png');
    background-size: cover;
    min-height:600px;
    width:100%;
    margin: 60px 0 0 0;
    .view-header h2{
        text-align: center;
        padding:20px 0 60px 0;
        color:$w;
        font-size: 2.2rem;
        @include max-width();
    }
    .views-view-grid{
        @include flex($justify:space-between);
        @include max-width();
        .views-row{
            @include flex($justify:space-between,$align:flex-start);
            float:none;
        }
        .views-col{
            padding:20px;
            background-color: transparentize($color: $w, $amount: .25);
            width:30%!important;
            float:none;
            min-height: 320px;
            .views-field-body{
                .field-content{
                    &:before{
                        content:"\f10d";
                        color:$grn;
                        font-family: "Font Awesome 5 Pro";
                        width: 1em;
                        height: 1em;
                        font-size:2rem;
                    }
                    p{
                        text-align: center;
                        font-size: 1.4rem;
                        font-weight: 300;
                    }
                    &:after{
                        content:"\f10e";
                        color:$grn;
                        width: 1em;
                        height: 1em;
                        font-size:2rem;
                        font-family: "Font Awesome 5 Pro";
                        float:right;
                    }
                }
            }
            .views-field-field-full-name
            {
                text-align: center;
            }
            .views-field-field-company-title{
                text-align: center;
                color:$bgry;
            }
        }
    }
}