.region.region-banner{
    .slick--skin--fullwidth .slide__title{
        color:$w;
        text-shadow:2px 2px 2px $b;
    }
    .slick{
        max-height:500px;
        overflow: hidden;
        .slide__content{
            background-color: $b;
            img{
                height:500px;
                width: auto;
                margin:0 auto;
            }
        }
    }

    .breadcrumb{
        padding:1rem 0;
        ol{
            @include max-width();
        }
    }
}