.region.region-banner{
    .slick--skin--fullwidth .slide__title{
        color:$w;
        text-shadow:2px 2px 2px $b;
    }
    .slick{
        max-height:500px;
        overflow: hidden;
        .slide__content{
            background-color: $b;
            position: relative;
            img{
                height:500px;
                width: auto;
                margin:0 auto;
            }
            .slide__caption{
                position: absolute;
                z-index:9;
                .slide__title{
                    @include max-width();
                    @include flex($justify:flex-start);

                    a {
                        text-decoration: none;
                        p{
                            &.title{
                                font-family: $heading-font-family;
                                font-size: 4rem;
                                color:$w;
                                text-transform: uppercase;
                                text-shadow: 2px 2px 4px $b;
                                
                            }

                            &.tagline{
                                font-family: $heading-font-family;
                                font-size: 2rem;
                            }
                        }
                    }

                }


            }
        }
    }

    .breadcrumb{
        padding:1rem 0;
        ol{
            @include max-width();
        }
    }
}