.region.region-banner{
    .slick--skin--fullwidth .slide__title{
        color:$w;
        text-shadow:2px 2px 2px $b;
    }
    .slick{
        height:650px;
        overflow: hidden;
        border-bottom: 10px solid $bgry;
        .slide__content{
            background-color: $b;
            position: relative;
            img{
                height:650px;
                width: 100%;
                margin:0 auto;
            }
            .slide__caption{
                position: absolute;
                z-index:9;
                top:20%;
                .slide__title{
                    @include max-width();
                    @include flex($justify:flex-start);

                    a {
                        text-decoration: none;
                        p{
                            &.title{
                                font-family: $heading-font-family;
                                font-size: 4rem;
                                color:$w;
                                text-transform: uppercase;
                                text-shadow: 2px 2px 4px $b;
                                letter-spacing:0.15rem;
                                margin:0 0 1.25rem 0;
                            }

                            &.tagline{
                                font-family: $heading-font-family;
                                font-size: 3rem;
                                &.white{
                                    color:$w;
                                    @include text-shadow();
                                }
                            }
                        }
                    }
                    a.btn.btn-banner{
                        &:hover{
                            color:$gd;
                        }
                    }

                }


            }
        }
    }

    .breadcrumb{
        padding:1rem 0;
        ol{
            @include max-width();
        }
    }
}

@media #{$mobile} {
    .region.region-banner .slick {
        height:205px;
        .slide__content .slide__caption {
            top:5%;
            .slide__title a {
                p.title{
                    font-size:1.4rem;
                }
                p.tagline{
                    display:none;
                }
                .btn .btn-banner{
                    font-size: 1rem;
                }
            }
        }

    }
}