/*
 * Footer styling goes here
 */

footer {
    @include flex($justify:space-between,$wrap:nowrap);
    background:$dark-gray;
    padding:30px 0;
    
    nav#block-vermontgold-footer {
        padding: 30px 0;
        border-top: 5px $gd solid;
        &:before{
            border-top: 5px $gd solid;
        }
    }

    .menu{
        @include ease();
        @include flex($justify:flex-end,$direction:row);
        
        li{
            padding:10px 30px;

            a{
                color:$w;
                text-decoration: none;
                &:hover{
                    color:$gd;
                }
            }
        }
    }
    
    a{
        color:$w;
        text-decoration: none;
        &:hover{
            color:$gd;
        }
    }
}
