/*
 * Footer styling goes here
 */

footer.footer {
    @include flex($justify:space-between,$wrap:nowrap,$direction:column);
    background:$dark-gray;
    padding:30px 0;
    .footer-bottom {
     
        padding: 30px 0;
        border-top: 5px $gd solid;
        .region-subfooter{
            width:100%;
            @include flex($justify:space-between,$wrap:nowrap);
        }
    }

    .menu{
        @include flex($justify:flex-end,$direction:row);
        
        li{
            padding:10px 30px;

            a{
                color:$w;
                text-decoration: none;
                text-transform: uppercase;
                @include ease();
                &:hover{
                    border-bottom: 2px solid $gd;
                }
                
                &.is-active{
                    color:$gd;
                    border-bottom: 2px solid $gd;
                }
            }
            &:hover{
                a{
                    color:$gd;
                }
            }
        }
        &.menu-social a{
            font-size: 2rem;
        }

    }

    a{
        color:$w;
        text-decoration: none;
        &:hover{
            color:$gd;
        }
    }

    .site-info{
        color:$w;
        margin:0 auto;
        text-align:center;
        a{
            color:$gd;
            @include ease();
            &:hover{
                border-bottom: 2px solid $gd;
            }
        }
    }
}

@media #{$mobile-tablet} {
    footer.footer {
        @include flex($wrap:wrap);
        .footer-bottom .region-subfooter{
            @include flex($wrap:wrap);
        }
        .menu{
            @include flex($wrap:wrap,$justify:center);
            width:100%;
            margin:0;
            li{
                padding:10px;
            }
        }
        #block-socialsblock-2{
            width:100%;
        }
        .spacer{
            display: none;
        }
        .copyright{
            width: 100%;
            display:block;
            padding: 20px 0 20px 0;
        }
    }
}