/*
 * Footer styling goes here
 */

footer {
    @include flex($justify:space-between);
    background:$dark-gray;
    padding:30px 20px;
    width:100vw;

    a{
        color:$w;
        text-decoration: none;
        &:hover{
            color:$gd;
        }
    }
}
