/*
 * Header styling goes here
 */

header {
    @include flex($justify:space-between);
    background:$w;
    padding:30px 20px;
    width:100vw;
    .region-header{
        @include flex($justify:space-between,$wrap:wrap);
        border-bottom: 3px solid $grn;
    }
    .search-block-form{
        width:25vw;
    }
    #block-socialsblock{
        width:25vw;
        @include flex($justify:flex-start);
    }
    .navigation.menu--account{
        width:50vw;
        
        a{
            text-decoration: none;

        }
    }
    
    #block-headerlogo{
        width:25vw;
        
    }

    .navigation.menu--main{
        width:75vw;
       
        .menu{
            @include ease();
            @include flex($justify:flex-end,$direction:row);
            
            li{
                padding:10px;
                a{
                    color:$bgry;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 600;

                    &:hover{color:$gd;}
                }
            }
        }
    }
}
