figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

.slick img{
  width:100%;
}

.slick-slider {
  [type=button]{
    background:transparent;
  }
  .slick-next.slick-arrow,
  .slick-prev.slick-arrow{
    content:"";
  }
}