#block-instagramblock,
.paragraph.block-label-instagram-block{
    
    padding:30px 0;
    overflow: hidden;
    .instagram-feed{
        @include max-width();
        margin:0;
        .instagram-title{
            @include flex($justify:space-between);
            padding: 0 10px;
            h2{
                color:$w;
                font-size: 2rem;
                margin:0;
            }
        }

        a.btn.btn-instagram{
            background:$gd;
            color:$bgry;
            &:hover{
                background:$w;
            }
        }

        ul#instafeed{
            @include max-width();
            @include flex($justify:flex-start);
            overflow: hidden;
            margin: 30px 0 0 0;
            li{
                list-style-type:none;
                margin: 0 9px;
                &:first-child{
                    margin: 0 10px 0 0;
                }
                a img{ 
                    width:200px;
                    height: 200px;
                }
            }
        }

        // .slick-track{
        //     width:100%;
        //     a,img{
        //         width: 230px!important;
        //         margin: 0.16%!important;
        //         max-height: 230px;
        //     }
        // }
        // .slick-arrow{
        //     content: " ";
        //     z-index:99;
        //     color:$dark-gray;
        //     &::before,
        //     &::after{
        //         color:$w;
        //     }
        // }
    }
}
@media #{$mobile-tablet} {
    .instagram-feed {
        .instagram-title{
            @include flex($justify:flex-start,$wrap:wrap);
            h2{
                width:100%;
            }
        }
        ul#instafeed{
            @include flex($wrap:wrap);
            li a img{ 
                width:300px;
                height: 300px;
            }
        }   
    }
}