#block-instagramblock,
.paragraph.block-label-instagram-block{
    
    padding:30px 0;
    width: 100vw;
    overflow: hidden;
    .instagram-feed{
        width: 97vw;
        
        .instagram-title{
            @include flex($justify:space-between);
            padding: 0 10px;
            h2{
                color:$w;
                font-size: 2rem;
            }
        }

        .slick-track{
            width:100%;
            a,img{
                width: 230px!important;
                margin: 0.16%!important;
            }
        }
    }
}